{% load static %}
<html>
  <head>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/qualquercoisa.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.min.css' %}">
  </head>
  <body>
    <header>
      <div class="marca">
        <a href="/home">
          <h1>Luzi's Barber Shop</h1>
        </a>
        {% if user.is_authenticated %}
        <ul>
          <li>{{user.first_name}} {{user.last_name}}</li>
          <li><a href="/carrinho">Carrinho</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="/criarusuario">Registrar</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
      </div>
      <div class="menu">
        <ul>
          {% for categoria in categorias %}
          <li><a href="/categoria/{{categoria.id}}">{{categoria.nome}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </header>
    {% block corpo %}
    {% endblock %}
  </body>
</html>