<html>
    <head>
        <title>Criar Usuario</title>
    </head>
    <body>
        <form action="/criarusuario" method="POST" >
            {% csrf_token %}
            <input type="text" maxlength="50" placeholder="username" name="username" />
            <input type="email" placeholder="email" name="email" />
            <input type="text" maxlength="100" placeholder="primeiro nome" name="primeiro_nome" />
            <input type="text" maxlength="100" placeholder="sobrenome" name="sobrenome" />
            <input type="password" placeholder="senha" name="senha" />
            <button type="submit">Criar</button>
        </form>
    </body>
</html>