{% extends 'base.html' %}
{% load static %}
{% block titulo %}home{% endblock %}
{% block corpo %}
<div class="tela-home container-fluid">  
  <div class="row" > 
    <img src="{% static 'img/banner.png'%}">
  </div>
         
    <div class="row"> 
      {% for produto in produtos %}
      <div class="col-sm-4 produto">
        <a href="/produto/{{ produto.id }}">
         <div>
           <img src="{{ produto.imagem.url }}" alt="">
         </div>
         <label> {{ produto.nome }} </label>
         <label> {{ produto.preco }} </label>
        </a>
      </div>
      {% endfor %}
    </div>
</div>  
{% endblock %}
