<html>
  <head>
    <title>Luzi's Market</title>
    <link rel="stylesheet" href="qualquercoisa.html">
  </head>
  <body>
    <header>
      <div class="marca">
        <h1>Luzi's Market</h1>
        <ul>
          <li><a href="#">Procurar</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">Barba</a></li>
          <li><a href="#">cabelo</a></li>
          <li><a href="#">bigode</a></li>
        </ul>
      </div>
    </header>
    <div class="banner">
      <img src="necess.png"/>
    </div>
    <div class="corpo">
      <div class="categorias">
        <ul>
          <li>Categoria 1</li>
          <li>Categoria 2</li>
          <li>Categoria 3</li>
          <li>Categoria 4</li>
        </ul>
      </div>
      <div class="produtos">
        {% for produto in produtos %}
        <a href="/pomada"><div class="produto">
          <img src="{{produto.imagem}}">
          <span>{{produto.nome}}</span>
        </div></a>
        {% endfor %}
        <div class="produto"></div>
        <div class="produto"></div>
        <div class="produto"></div>
        <div class="produto"></div>
      </div>
    </div>
  </body>
</html>